#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    // --------------------------------------------------------------------------------------
    // Definición del Comportamiento para Caps Lock (Doble Tap)
    // --------------------------------------------------------------------------------------
    behaviors {
        capswords: capswords {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPSWORDS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>; // <--- CAMBIO CLAVE: Usa &kp CAPS
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC           &kp NUMBER_1  &kp N2  &kp N3        &kp N4        &kp N5                                         &kp N6                &kp N7         &kp N8     &kp N9   &kp N0     &kp BACKSPACE
&kp TAB           &kp Q         &kp W   &kp E         &kp R         &kp T                                          &kp Y                 &kp U          &kp I      &kp O    &kp P      &kp SQT
&capswords        &kp A         &kp S   &kp D         &kp F         &kp G                                          &kp H                 &kp J          &kp K      &kp L    &kp RA(N)  &kp ENTER
&kp LEFT_CONTROL  &kp Z         &kp X   &kp C         &kp V         &kp B   &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N                 &kp M          &kp COMMA  &kp DOT  &kp EQUAL  &kp SLASH
                                        &kp LEFT_WIN  &kp LEFT_ALT  &mo 1   &kp SPACE           &mo 2              &kp NON_US_BACKSLASH  &kp SEMICOLON  &kp MINUS
            >;
        };

        lower_layer {
            bindings = <
&kp ESCAPE      &kp F1            &kp F2             &kp F3             &kp F4        &kp F5                          &kp F6         &kp F7     &kp F8             &kp F9         &kp F10         &kp F11
&kp TAB         &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                    &kp F12        &kp F13    &kp F14            &kp F15        &kp F16         &kp F17
&capswords      &kp EXCL          &kp AT             &kp HASH           &kp DOLLAR    &kp PRCNT                       &kp CARET      &kp AMPS   &kp ASTRK          &kp PAGE_UP    &kp UP          &kp PAGE_DOWN
&kp LCTRL       &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans        &trans        &trans    &trans  &trans         &kp MINUS  &kp PLUS           &kp LEFT       &kp DOWN_ARROW  &kp RIGHT
                                                     &kp LEFT_WIN       &kp LEFT_ALT  &trans        &trans    &trans  &kp RIGHT_ALT  &trans     &kp RIGHT_CONTROL
            >;
        };

        raise_layer {
            bindings = <
&trans     &kp RA(NUMBER_1)  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp K_MUTE  &kp C_BRIGHTNESS_DEC                    &kp C_BRIGHTNESS_INC  &trans     &kp HOME           &kp END         &kp INSERT      &kp DELETE
&kp GRAVE  &kp N1            &kp N2        &kp N3           &kp N4      &kp N5                                  &kp N6                &kp N7     &kp N8             &kp N9          &kp N0          &trans
&kp F1     &kp F2            &kp F3        &kp F4           &kp F5      &kp F6                                  &trans                &kp LEFT   &kp DOWN           &kp PAGE_UP     &kp UP_ARROW    &kp RIGHT_SHIFT
&kp F7     &kp F8            &kp F9        &kp F10          &kp F11     &kp F12               &trans    &trans  &kp KP_PLUS           &kp MINUS  &kp EQUAL          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RA(SLASH)
                                           &trans           &trans      &trans                &trans    &trans  &kp RIGHT_ALT         &trans     &kp RIGHT_CONTROL
            >;
        };
    };
};
